<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--为了防止进程退出时，内存中的数据丢失，请加上此选项-->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <property name="log.pattern"
              value="%d{yyyy/MM/dd-HH:mm:ss} %-5level [%-21thread][%X{traceId}] %logger{36} %line - %msg%n"/>

    <springProperty scope="context" name="log.path" source="log.path"
                    defaultValue="logs"/>

    <springProperty scope="context" name="logName" source="spring.application.name"
                    defaultValue="localhost"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="info_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${logName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log.path}/info.log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>60</MaxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="error_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log.path}/error.log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>60</MaxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>


    <appender name="rocketmqClientAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/mq/mq.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log.path}/mq/mq.log.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>60</MaxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!--自己模块 -->
    <logger name="com.zhou.base.components.log.trace.log" level="debug"/>
   

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="info_log"/>
        <appender-ref ref="error_log"/>
    </root>
    <logger name="RocketmqClient" additivity="false">
        <level value="warn"/>
        <appender-ref ref="rocketmqClientAppender"/>
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>